<script type="text/javascript">
    RED.nodes.registerType('adaptor',{
        category: 'Revolt_logic',
        color: '#D2CFCD',
        defaults: {
            name: {value:""},
            sigin: {value:""},
            sigout: {value:""},
            valout: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "revolt_logo.png",
        label: function() {
            return this.name||"adaptor";
        }
    });
</script>

<script type="text/x-red" data-template-name="adaptor">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<br>
	<p><b>input</b></p>
	<div class="form-row">
		<label for="node-input-sigin"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigin" placeholder="signal">
	</div>
	<br>
	<p><b>output</b></p>
	<div class="form-row">
		<label for="node-input-sigout"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigout" placeholder="signal">
	</div>
	
	<div class="form-row">
		<label for="node-input-valout"><i class="serial-tag"></i> Argument*</label>
		<input type="text" id="node-input-valout" placeholder="argument">
	</div>
	<p><i>*  leave field blank to leave argument unchanged</i></p>
	<p><i>** use *argument* to use original argument</i></p>

</script>

<script type="text/x-red" data-help-name="adaptor">
    <p>Adaptor for Qcom signals</p>
</script>
