<script type="text/javascript">
    RED.nodes.registerType('collector',{
        category: 'Revolt_logic',
        color: '#D2CFCD',
	labelStyle: "teststyle",
        defaults: {
            name: {value:""},
            signal: {value:""},
            keepTime: {value:""},
            sampleRate: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "revolt_logo.png",
        label: function() {
            return this.name||"collector";
        }
    });
</script>

<script type="text/x-red" data-template-name="collector">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<hr>
	<div class="form-row">
		<label for="node-input-signal"><i class="icon-globe"></i> Signal</label>
		<input type="text" id="node-input-signal" placeholder="signal">
	</div>
	<div class="form-row">
		<label for="node-input-keepTime"><i class="icon-timer"></i> KeepTime</label>
		<input type="text" id="node-input-keepTime" placeholder="keeptime of data">
	</div>
	<div class="form-row">
		<label for="node-input-sampleRate"><i class="icon-watch"></i> sample rate</label>
		<input type="text" id="node-input-sampleRate" placeholder="time in miliseconds">
	</div>

</script>

<script type="text/x-red" data-help-name="collector">
    <p>Collects Qcom signals, puts them in an array, and emits it on interval</p>
</script>

<style>
.teststyle	{
			/*font-size: 50px;*/
		}
</style>
