<script type="text/javascript">
    RED.nodes.registerType('comparator',{
        category: 'Revolt_logic',
        color: '#D2CFCD',
        defaults: {
            name: {value:""},
            sigin: {value:""},
            argin: {value:""},
            sigequal: {value:""},
            argequal: {value:""},
            sigbigger: {value:""},
            argbigger: {value:""},
            sigsmaller: {value:""},
            argsmaller: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "revolt_logo.png",
        label: function() {
            return this.name||"comparator";
        }
    });
</script>

<script type="text/x-red" data-template-name="comparator">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<hr>
	<p><b>input</b></p>

	<div class="form-row">
		<label for="node-input-sigin"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigin" placeholder="signal">
	</div>
	<div class="form-row">
		<label for="node-input-argin"><i class="serial-tag"></i> Argument</label>
		<input type="text" id="node-input-argin" placeholder="argument">
	</div>
	<hr>
	<p><b>output</b></p>
	<p><u>equal</u></p>

	<div class="form-row">
		<label for="node-input-sigequal"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigequal" placeholder="signal">
	</div>
	<div class="form-row">
		<label for="node-input-argequal"><i class="serial-tag"></i> Argument</label>
		<input type="text" id="node-input-argequal" placeholder="argument">
	</div>

	<p><u>smaller</u></p>

	<div class="form-row">
		<label for="node-input-sigsmaller"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigsmaller" placeholder="signal">
	</div>
	<div class="form-row">
		<label for="node-input-argsmaller"><i class="serial-tag"></i> Argument</label>
		<input type="text" id="node-input-argsmaller" placeholder="argument">
	</div>

	<p><u>bigger</u></p>

	<div class="form-row">
		<label for="node-input-sigbigger"><i class="serial-tag"></i> Signal</label>
		<input type="text" id="node-input-sigbigger" placeholder="signal">
	</div>
	<div class="form-row">
		<label for="node-input-argbigger"><i class="serial-tag"></i> Argument</label>
		<input type="text" id="node-input-argbigger" placeholder="argument">
	</div>

	

</script>

<script type="text/x-red" data-help-name="comparator">
    <p>Comparator for Qcom signals</p>
</script>
