/*
 *	global.css
 *	All global styling
 */

:root 		{
			--revolt_dark_green: #96a821;
			--revolt_light_green: #bbdc00;
			--revolt_dark_grey: #4c4845;
			--revolt_light_grey: #d2cfcd;
		}


.alert-info	{
			background-color: #BBDC00;
			color: var(--revolt_dark_grey);
			border-color: var(--revolt_dark_grey);
		}

/*
 *	page layout
 */

body		{
			/* laika image */
			background-image: url("../images/laika.png");
			background-size: 10%;
			background-position: right bottom;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

/*
 *	revolt button
 */

.revolt-button	{
			background-color: var(--revolt_light_green);
			border: 1px solid var(--revolt_dark_green);
			color: black;
		}

.revolt-button:hover {
			background-color: var(--revolt_dark_green);

		}

/* optimizations */

.navbar .navbar-brand 	{
				padding-top: 0px;
			}
