:root 		{
			--revolt_dark_green: #96a821;
			--revolt_light_green: #bbdc00;
			--revolt_dark_grey: #4c4845;
			--revolt_light_grey: #d2cfcd;
		}

/*
 *	on/off switch - generated with https://proto.io/freebies/onoff/
 *
 *	HTML
 *
 *	<div class="onoffswitch">
 *		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
 *		<label class="onoffswitch-label" for="myonoffswitch">
 *			<span class="onoffswitch-inner"></span>
 *			<span class="onoffswitch-switch"></span>
 *		</label>
 *	</div>
 */

.onoffswitch {
    position: relative; width: 35px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #4C4845; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #96A821; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #D2CFCD; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 0px;
    background: #BBDC00;
    position: absolute; top: 0; bottom: 0;
    right: 17px;
    border: 2px solid #4C4845; border-radius: 5px;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

