<script type="text/javascript">
	RED.nodes.registerType('Qmodule',{
		category: 'Revolt_modules',
		color: '#BBDC00',
		defaults: {
			name: {value:""},
			module: {value:""}
		},
		inputs:1,
		outputs:1,
		icon: "revolt_logo.png",
		label: function() {
			return this.name||"Qmodule";
		},
	});
</script>

<script type="text/x-red" data-template-name="Qmodule">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name" />
    </div>
    <div class="form-row">
        <label for="node-input-module"><i class="serial-tag"></i> Module</label>
        <input type="text" id="node-input-module" placeholder="module name" />
    </div>
</script>

<script type="text/x-red" data-help-name="Qmodule">
    <p>NodeRED interface for QcomV2 modules</p>
</script>
