<script type="text/javascript">
    RED.nodes.registerType('revolt-power',{
        category: 'Revolt_system',
        color: '#96A821',
        defaults: {
            name: {value:"power"},
            topic: {value:"power"}
        },
        inputs:1,
        outputs:1,
        icon: "power.png",
        label: function() {
            return this.name||"power";
        }
    });
</script>

<script type="text/x-red" data-template-name="revolt-power">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<hr>
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i>Topic</label>
		<input type="text" id="node-input-topic" placeholder="topic">
	</div>
</script>

<script type="text/x-red" data-help-name="revolt-power">
    <p>expects: { "power" : "[restart|shutdown]" } </p>
</script>
