<script type="text/javascript">
    RED.nodes.registerType('rest-GET',{
        category: 'Revolt_system',
        color: '#96A821',
        defaults: {
            	name: {value:""},
		topic: {value:""},
		bufferLast: {value: "yes"},
		collect: {value:"no"},
		fifolifo: { value: "fifo" },
		bufferSize: {value:"20"}
        },
        inputs:1,
        outputs:0,
        icon: "revolt_logo.png",
        label: function() {
            return "api/"+this.name||"rest-GET";
        }
    });
</script>

<script type="text/x-red" data-template-name="rest-GET">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<hr>
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
		<input type="text" id="node-input-topic" placeholder="topic ">
	</div>
	<hr>
	<p>Buffer: keep the last value available after get</p>
	<div class="form-row">
		<label for="node-input-bufferLast"><i class="icon-tag"></i>Buffer last</label>
		<select type="select" id="node-input-bufferLast">
			<option value="no">no</option>
			<option value="yes" selected>yes</option>
		</select>
	</div>
	<p>Collect: make an array of incoming messages - output is always an array!</p>
	<div class="form-row">
		<label for="node-input-collect"><i class="icon-tag"></i>Collect</label>
		<select type="select" id="node-input-collect">
			<option value="no" selected>no</option>
			<option value="yes">yes</option>
		</select>
	</div>
	<div class="form-row">
		<label for="node-input-fifolifo"><i class="icon-tag"></i>Buffer last</label>
		<select type="select" id="node-input-fifolifo">
			<option value="fifo" selected>fifo</option>
			<option value="lifo">lifo</option>
		</select>
	</div>
	<div class="form-row">
		<label for="node-input-bufferSize"><i class="icon-tag"></i>Buffer size</label>
		<input type="text" id="node-input-bufferSize" placeholder="n elements"></input>
	</div>
</script>

<script type="text/x-red" data-help-name="rest-GET">
    <p>rest API - GET method</p>
</script>
