<script type="text/javascript">
    RED.nodes.registerType('storage',{
        category: 'Revolt_system',
        color: '#96A821',
        defaults: {
            name: {value:""},
            topic: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "revolt_logo.png",
        label: function() {
            return this.name||"storage";
        }
    });
</script>

<script type="text/x-red" data-template-name="storage">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<hr>
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i>Topic</label>
		<input type="text" id="node-input-topic" placeholder="topic to save">
	</div>
	<p>the payload of messages with this topic will be saved</p>

</script>

<script type="text/x-red" data-help-name="storage">
    <p>persistent storage of values</p>
</script>
