<script type="text/javascript">
	RED.nodes.registerType('neural-network',{
		category: 'Experimental',
		color: '#D2CFCD',
		defaults: {
			topic: {value:""}
		},
		inputs:1,
		outputs:1,
		icon: "neural-network.png",
		label: function() {
			return this.name||"neural-network";
		}
	});
</script>

<script type="text/x-red" data-template-name="neural-network">
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i>Topic</label>
		<input type="text" id="node-input-topic" placeholder="topic" />
	</div>
</script>

<script type="text/x-red" data-help-name="neural-network">
<p>
	Deep Neural Network
</p>
</script>
